
<div class="content">
  <p id="notice"><%= notice %></p>
  <div class="question-header">
    <div><%= link_to "質問する", new_question_path,  class: "btn btn-primary question-btn" %></div>
    <h1>質問タイトル</h1> <!-- questionコントローラーから取得 -->
  </div>
  <div class="mainbar">
    <div class="question-area">
      <div class="clearfix">
        <div class="votecell">
          <% unless @question.user == current_user %>
            <% if @vote.present? %>
              <%= link_to "投票を取り消す", vote_path(question_id: @question.id), method: :delete, class: "btn btn-default" %>
            <% else %>
              <%= link_to "投票する", votes_path(question: @question.id), method: :post, class: "btn btn-default" %>
            <% end %>
          <% end %>
            <!-- <div class="btn btn-default">投票する</div>  -->
          <span class="vote-count-post">0</span>
        </div>
        <div class="edit-delete-btn">
          <a class="btn btn-default"><% link_to %>編集</a>
          <a class="btn btn-danger"><% link_to %>削除</a>
        </div>
      </div>
      <div class="post-text">
        <p><%= @question.content %></p>
      </div>
      <div class="clearfix">
        <div class="post-taglist">
          タグを表示予定
        </div>
        <div class="user-info">
          <table>
            <tr>
              <td>ユーザー名</td>
              <td>taro</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="sidebar">
    <table class="question-info">
      <tr>
        <td>
          <p class="label-key">投稿日</p>
        </td>
        <td style="padding-left: 10px;">
          <p class="label-key">2017/12/30</p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="label-key">閲覧回数</p>
        </td>
        <td style="padding-left: 10px;">
          <p class="label-key">10回</p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="label-key">アクティブ</p>
        </td>
        <td style="padding-left: 10px;">
          <p class="label-key">2018/1/2</p>  <!--余裕があれば表示-->
        </td>
      </tr>
    </table>
  </div>
</div>
