<div class="row top_menu_box">
  <ul class="nav nav-tabs">
    <li class="active top_menu_border"><a href="#">プロフィール</a></li>
  </ul>
</div>

<div class="row user_box clearfix">
  <div class="col-sm-6 col-xs-6 usershow_avatar">
    <%= profile_img(@user) %>
    <p><b>総貢献度</b></p>
  </div>
  <div class="col-sm-6 col-xs-6 usershow_profile">
    <h2><%= @user.name %>さん</h2>
    <p><%= @user.profile %></p>
    <% if @user.profile.nil? %>
      プロフィールはまだ記載されておりません。
    <% end %>
  </div>
  <div class="usershow_point">
    <p>回答：1</p>
    <p>質問：2</p>
  </div>
</div>

<div class="container">
  <div class="row btm_menu_box">
    <div class="col-sm-8 col-xs-3 btm_menu_left">
      <%= @check_list %>
    </div>
    <ul class="col-sm-4 col-xs-9 nav nav-tabs navbar-right btm_menu_right">
      <% if @check_list == "質問一覧" %>
        <li class="active"><a href="#">質問</a></li>
      <% else %>
        <li><%= link_to '質問', @user %></li>
      <% end %>
      <% if @check_list == "お気に入り一覧" %>
        <li class="active"><a href="#">お気に入り</a></li>
      <% else %>
        <li><%= link_to 'お気に入り', user_path(@user.id, check_list: "お気に入り一覧") %></li>
      <% end %>
      <% if @check_list == "回答一覧" %>
        <li class="active"><a href="#">回答</a></li>
      <% else %>
        <li><%= link_to '回答', user_path(@user.id, check_list: "回答一覧") %></li>
      <% end %>
    </ul>
  </div>

  <% if @check_list == "質問一覧" %>
    <% if @questions.present? %>
      <div class="mainbar">
        <% @questions.each do |question| %>
          <%= render 'question_list', question: question %>
        <% end %>
        <%= paginate @questions %>
      </div>
    <% else %>
      まだ質問していません。
    <% end %>
  <% elsif @check_list == "お気に入り一覧" %>
    <% if @favorites.present? %>
      <div class="mainbar">
        <% @favorites.each do |favorite| %>
          <% question = Question.find(favorite.question_id) %>
          <%= render 'question_list', question: question %>
        <% end %>
      <%= paginate @favorites %>
      </div>
    <% else %>
      お気に入りの質問はありません
    <% end %>
  <% elsif @check_list == "回答一覧" %>
    <% if @answers.present? %>
      <div class="mainbar">
        <% @answers.each do |answer| %>
          <%= render partial: 'answer_list', locals: { answer: answer, question: @question } %>
        <% end %>
      </div>
    <% else %>
      まだ回答はありません
    <% end %>
  <% end %>
</div>
