<%= form_for([@question,@answer]) do |f| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= @answer.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @answer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :question_id %>
  <div class="field">
    <%= f.text_area :content, placeholder: "回答内容", class: "form-control"  %>
  </div>
  <div class="actions">
    <%= f.submit'回答する', class: 'btn btn-primary btn-sm' %>
  </div>
<% end %>
